20240610[[:space:]]-[[:space:]]Introduction[[:space:]]to[[:space:]]Microscopy[[:space:]]Image[[:space:]]Analysis[[:space:]]-[[:space:]]Daniel[[:space:]]Sage.pdf filter=lfs diff=lfs merge=lfs -text
20240611[[:space:]]-[[:space:]]Build[[:space:]]your[[:space:]]own[[:space:]]BioImage[[:space:]]Analysis[[:space:]]Workflow[[:space:]]with[[:space:]]BiaPy[[:space:]]-[[:space:]]Daniel[[:space:]]Franco.pptx filter=lfs diff=lfs merge=lfs -text
